@{
    ViewData["Title"] = "Kategoriler";
}

<h1 class="h3 mb-4 text-gray-800">Kategori Yönetimi</h1>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Kategori Listesi</h6>
    </div>
    <div class="card-body">
        <p>Burada tablo olacak...</p>
    </div>
</div>